<div id="slider">
    <div class="slides">
        {% for rs in sliders %}
        <!-- First slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1>{{ rs.title }}</h1>
                <h2><a href="{{ path('product_detail', {'id':  rs.id}) }}"><img src="{{ asset('uploads') }}/images/buy.png" height="100"></a></h2>
                </div>
            </div>
            <div class="images" style="margin-left:35%; margin-top: 1%;">
                <img src="{{ asset('uploads') }}/images/{{ rs.image }}" height="400">
            </div>
            <div class="legend2"></div>
        </div>
{% endfor %}
    </div>
</div>